
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(img/1.jfif);
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, .7);
}

.fondo-negro {
  background-color: rgba(0, 0, 0, .7);
}

.actual {
  color: rgb(239 68 68);
  background: #fff;
}

a:hover {
  color: rgb(239 68 68);
  background: #fff;
}

.membresiaActual {
  color: rgb(239 68 68);
  background: #fff;
}